[submodule "json"]
	path = thirdparty/json
	url = https://github.com/nlohmann/json.git
[submodule "imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdparty/natsort"]
	path = thirdparty/natsort
	url = https://github.com/sourcefrog/natsort.git
